html {
    font-family: 'Orbitron', 'Roboto', sans-serif;
    font-weight: bold;
}

.spotify {
    min-width: 250px;
    padding-right: 25px !important;
}

.spotify-img {
    bottom: 10px;
    left: 10px;
    position: absolute;
}

.spotify-track-info {
    position: absolute;
    top: 8px;
    left: 75px;
    padding-left: 5px;
}


.spotify-track-info .name{
    display: block;
    font-size: 10px;
    font-family: Microsoft JhengHei;
}

.spotify-track-info .artist{
    display: block;
    font-size: 10px;
    margin-left: 10px;
    font-family: Microsoft JhengHei;
}

.spotify-time-progress {
    top: 55px;
    left: 102px;
    position: absolute;
    height: 25px;
    width: 175px;
    background-color: #888;
}


.spotify-time-content {
    height: 100%;
    width: 50%;
    background-color: #037ffc;
}

.spotify-time-content span {
    margin-top: 2.5px;
    padding-left: 65px;
}

.kad-board {
    padding-top: 5px;
    padding-left: 20px;
    height: 50px;
    background-color: #333;
    display: inline-block;
    position: absolute;
    left: 200px;
    width: 260px;
    -webkit-transform: skew(-15deg);
}

.kad-board span {
    margin-top: 8px;
    margin-right: 5px;
    display: inline-block;
    -webkit-transform: skew(15deg);
}

.progress {
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.hp-bar {
    position: absolute;
    background-color: grey;
    height: 100px;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.hp-bar-content {
    left: -15px;
    -webkit-transform: skew(-15deg);
    max-width: 100%;
    transition: width 0.5s;
    position: absolute;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.hp-bar-text {
    position: absolute;
}

.hp-bar.armor {
    display: inline-block;
}

.center {
    position: fixed;
    top: 45%;
    left: 48%;
}

.top {
    position: fixed;
    top: 0px;
}

.bottom {
    position: fixed;
    bottom: 0px;
}

.left {
    left: -15px;
}

.right {
    position: fixed;
    right: -15px;
}


.grey {
    background-color: #333;
    -webkit-transform: skew(-15deg);
}

.grey span {
    -webkit-transform: skew(15deg);
}

.bottom-center {
    position: fixed;
    left: 625px;
}

.blocks {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    /*-webkit-transform: skew(-15deg);*/
    border-style: solid;
    border-width: 0px;
    border-color: #ffffff;
}

.blocks span{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    /*-webkit-transform: skew(15deg);*/
}

.size-1 {
    font-size: 50px;
}

.size-2 {
    font-size: 35px;
}

.size-3 {
    font-size: 25px;
}

.size-4 {
    font-size: 20px;
}

.row {
    display: inline-block;
}

.t {
    color: #ffaa00;
}

.ct {
    color: #0077ff;
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        transform: translatex(-250px) skew(0deg);
    }
    to {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
}


.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity:0;
        transform: translatex(250px) skew(-15deg);
    }
    to {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
    to {
        opacity:0;
        transform: translatex(-250px) skew(0deg);
    }
}


.fadeOutLeft {
    animation-name: fadeOutLeft;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
    to {
        opacity:0;
        transform: translatex(250px) skew(-15deg);
    }
}