html {
    font-family: 'Orbitron', 'Roboto', sans-serif;
    font-weight: bold;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
    
.spotify {
    min-width: 250px;
    padding-right: 25px !important;
}

.spotify-img {
    bottom: 5px;
    left: 10px;
    position: absolute;
}

.spotify-track-info {
    position: absolute;
    top: 8px;
    left: 75px;
    padding-left: 5px;
}


.spotify-track-info .name{
    display: block;
    font-size: 10px;
    font-family: Microsoft JhengHei;
}

.spotify-track-info .artist{
    display: block;
    font-size: 10px;
    margin-left: 10px;
    font-family: Microsoft JhengHei;
}

.spotify-time-progress {
    top: 55px;
    left: 102px;
    position: absolute;
    height: 25px;
    width: 175px;
    background-color: rgba(136, 136, 136, 0.375);
    box-shadow:  rgb(69, 162, 255) 0px 0px 2px, rgb(69, 162, 255) 0px 0px 5px;
}


.spotify-time-content {
    height: 100%;
    width: 50%;
    background-color: rgba(3, 127, 252, 1);
    text-shadow: #FFF 0px 0px 2px, #FFF 0px 0px 5px, #FFF 0px 0px 10px;
}

.spotify-time-content span {
    margin-top: 2.5px;
    padding-left: 65px;
}

.kad-board {
    box-shadow:  rgb(51, 51, 51) 0px 0px 2px, rgb(51, 51, 51) 0px 0px 5px, rgb(51, 51, 51) 0px 0px 10px, rgb(51, 51, 51) 0px 0px 20px;
    padding-top: 5px;
    padding-left: 20px;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 200px;
    width: 260px;
    -webkit-transform: skew(-15deg);
}

.kad-board span {
    margin-top: 8px;
    margin-right: 5px;
    display: inline-block;
    -webkit-transform: skew(15deg);
}

.progress {
    
  padding: 6px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.hp-bar {
    position: absolute;
    background-color: grey;
    height: 100px;
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}

.hp-bar-content {
    left: -15px;
    -webkit-transform: skew(-15deg);
    max-width: 100%;
    transition: width 0.5s;
    position: absolute;
    height: 100%;
    margin: 0 0 0 0 !important;
}

.hp-bar-text {
    position: absolute;
}

.hp-bar.armor {
    display: inline-block;
}

.center {
    position: fixed;
    top: 45%;
    left: 48%;
}

.top {
    position: fixed;
    top: 0px;
}

.bottom {
    position: fixed;
    bottom: 0px;
}

.left {
    left: -15px;
}

.right {
    position: fixed;
    right: -15px;
}


.grey {
    box-shadow:  rgb(51, 51, 51) 0px 0px 2px, rgb(51, 51, 51) 0px 0px 5px, rgb(51, 51, 51) 0px 0px 10px, rgb(51, 51, 51) 0px 0px 20px;
    background-color: rgba(51, 51, 51, 0.75);
    -webkit-transform: skew(-15deg);
}

.grey span {
    -webkit-transform: skew(15deg);
}

.grey2 {
    box-shadow:  rgb(51, 51, 51) 0px 0px 2px, rgb(51, 51, 51) 0px 0px 5px, rgb(51, 51, 51) 0px 0px 10px, rgb(51, 51, 51) 0px 0px 20px;
    background-color: rgba(51, 51, 51, 1);
    -webkit-transform: skew(-15deg);
}

.grey2 span {
    -webkit-transform: skew(15deg);
}

.bottom-center {
    position: fixed;
    left: 625px;
}

.blocks {
    display: inline-block;
    padding: 5px 15px 5px 15px;
    /*-webkit-transform: skew(-15deg);*/
    border-style: solid;
    border-width: 0px;
    border-color: #ffffff;
}

.blocks span{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    /*-webkit-transform: skew(15deg);*/
}

.size-1 {
    font-size: 50px;
}

.size-2 {
    font-size: 35px;
}

.size-3 {
    font-size: 25px;
}

.size-4 {
    font-size: 20px;
}

.row {
    display: inline-block;
}

.t {
    color: #ffaa00;
}

.ct {
    color: #0077ff;
}


.fadeIn {
    animation-name: fadeIn;
    animation-duration: 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOut {
    from {
        opacity:1;
    }
    to {
        opacity:0;
    }
}

.fadeInLeft {
    animation-name: fadeInLeft;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity:0;
        transform: translatex(-250px) skew(0deg);
    }
    to {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
}


.fadeInRight {
    animation-name: fadeInRight;
    animation-duration: 1s;
}

@-webkit-keyframes fadeInRight {
    from {
        opacity:0;
        transform: translatex(250px) skew(-15deg);
    }
    to {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
}

.fadeOutRight {
    animation-name: fadeOutRight;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOutRight {
    from {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
    to {
        opacity:0;
        transform: translatex(-250px) skew(0deg);
    }
}


.fadeOutLeft {
    animation-name: fadeOutLeft;
    animation-duration: 1s;
}

@-webkit-keyframes fadeOutLeft {
    from {
        opacity:1;
        transform: translatex(0) skew(-15deg);
    }
    to {
        opacity:0;
        transform: translatex(250px) skew(-15deg);
    }
}

.flame1{
	width: 12px;
	height: 12px;
	background:linear-gradient(-45deg, red, orange);
	border-radius: 5px 5px 0px 5px;
	transform: rotate(-45deg) scale(1, -1);
    animation: 1s flame infinite;
	filter:blur(1px);
	position:relative;
	box-shadow:1px 1px 3px #700;
	border:1.5px solid black;
	border-left-width:1px;
	border-top-width:1px;
	
	&:after,
	&:before{
		content:'';
		width:10px;
		height:10px;
		display:block;
		position:absolute;
		background:linear-gradient(45deg, red, orange);
		animation: 1s flame infinite;
		transform:scale(.8) rotate(20deg);
		border-radius: 5px 5px 0px 5px;
		top: 1px;
	}
	&:before{
		top:0;
		animation-duration:.09s;
		transform:scale(.9) rotate(15deg) translate(5px, 0px);
	}
}

@keyframes flame{
    0% {
        height:10px; width:10px;
        }
    12.5% {height: 10.5px; width:10.5px;}
    25% {height: 11px; width:11px;}
    37.5% {height: 11.5px; width:11.5px;}
    50% {height: 12px; width:12px;}
    62.5% {height: 11.5px; width:11.5px;}
    75% {height: 11px; width:11px;}
    87.5% {height: 10.5px; width:10.5px;}
    100% {height:10px; width:10px;}
}


.flame2{
	width: 12px;
	height: 12px;
	background:linear-gradient(-45deg, red, orange);
	border-radius: 5px 5px 0px 5px;
	transform:rotate(-135deg);
	animation: 1s flame infinite;
	filter:blur(1px);
	position:relative;
	box-shadow:1px 1px 3px #700;
	border:1.5px solid black;
	border-left-width:1px;
	border-top-width:1px;
	
	&:after,
	&:before{
		content:'';
		width:10px;
		height:10px;
		display:block;
		position:absolute;
		background:linear-gradient(-45deg, red, orange);
		animation: 1s flame infinite;
		transform:scale(.8) rotate(20deg);
		border-radius: 5px 5px 0px 5px;
		top: 1px;
	}
	&:before{
		top:0;
		animation-duration:.09s;
		transform:scale(.9) rotate(-15deg) translate(2px, 0px);
	}
}